{% extends "body/body.html" %}
{% block main %}
{%load static%}

{%if user.is_staff%}

<div class="section-indent nomargin section__fluid tt-position__relative mobile-nopadding">
    <div class="tt-iconbox-subpages">
        {%include 'body/socal.html'%}
    </div>
    <div class="tt-pagetitle">
        <div class="tt-pagetitle__img">
            <picture>
                <source srcset="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.webp' %}" type="image/webp">
                <source srcset="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.jpg' %}" type="image/jpg">
                <img src="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.jpg' %}" alt="">
            </picture>
        </div>
        <div class="tt-pagetitle__wrapper">
            <div class="tt-pagetitle__title">
                Админка
            </div>
            <ul class="tt-breadcrumbs">
                <li><a href="">Товар</a>
                    <ul>
                        <li><a href="{%url 'create_cat_product'%}">Добавить катигорию товара</a></li>
                        <li><a href="{%url 'create_product'%}">Добавить товар</a></li>
                    </ul>
                </li>
                <li><a href="">Строительство бассейнов</a>
                    <ul>
                        <li><a href="{%url 'create_cat_pool'%}">Добавить тип бассейна</a></li>
                        <li><a href="{%url 'create_pool_additionally'%}">Добавить дополнительно бассейна</a></li>
                        <li><a href="{%url 'create_pool_decoration'%}">Добавить отдеку бассейна</a></li>
                    </ul>
                </li>

                <li><a href="{%url 'create_service_type'%}">Сервис</a></li>
                <li><a href="{%url 'update_info' '1'%}">Инфо сайта</a></li>
                <li><a href="{%url 'list_users'%}">Список пользователей</a></li>

                </li>
            </ul>
        </div>
    </div>
</div>
<div id="tt-pageContent">
    <br><br><br>
    <div class="blocktitle blocktitle__center">
        <div class="blocktitle__title">Заказы</div>
    </div>
    {%if not orders and not services and not constructions %}
        <center>
            <h1>Пока не заказов(</h1>
        </center>
    {%else%}
        <div class="section-indent">
            <div class="container">

                <div class="row">

                    
                    {%for order in orders%}
                    <div class="col-md-4">
                        <div class="box-info04">
                            <div class="box-info04__img">
                                <picture>
                                    <source srcset="{{s.image.url}}" data-srcset="{{s.image.url}}" type="image/webp">
                                    <source srcset="{{s.image.url}}" data-srcset="{{s.image.url}}" type="image/jpg">
                                    <img src="{{s.image.url}}" data-src="{{s.image.url}}" class=" lazyloaded" alt="">
                                </picture>
                            </div>
                            <div class="box-info04__content" data-value="1">
                                <h10 class="box-info04__title">
                                    Заказчик: <a href="">{{order.user}}</a> <br>
                                    Номер: <a href="tel:{{order.user.phone}}">{{order.user.phone}}</a> <br>
                                    Почта: <a target="_ blank"
                                        href="mailto:{{order.user.email}}?subject=Потверждение заказа">{{order.user.email}}</a>
                                    <br>
                                    Время заказа: {{order.time_create}} <br>
                                </h10>
                                <br>
                                <p>
                                    {%for o in order.basket.all%}
                                    {{o}}: <b>{{o.quantity}}-штук</b>;
                                    <hr>
                                    {%endfor%}
                                </p>
                                <form action="" method="post">
                                    <a class="btn btn-danger" href="{%url  'delete_order' order.id%}"
                                        role="button">Удалить</a>
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    {%csrf_token%}
                                    <input type="hidden" name="order_id" value="{{order.id}}">
                                    <button type="submit" name="active_buy" class="btn btn-success">Потвердить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {%endfor%}

                    {%for order in services%}
                    <div class="col-md-4">
                        <div class="box-info04">
                            <div class="box-info04__content" data-value="1">
                                <h10 class="box-info04__title">
                                    Заказчик: <a href="">{{order.user}}</a> <br>
                                    Номер: <a href="tel:{{order.user.phone}}">{{order.user.phone}}</a> <br>
                                    Почта: <a target="_ blank"
                                        href="mailto:{{order.user.email}}?subject=Потверждение заказа">{{order.user.email}}</a>
                                    <br>
                                    Время заказа: {{order.time_create}} <br>
                                </h10>
                                <br>
                                <p>

                                    Kатигория: <b>{{order.category}}</b>;
                                    <hr>
                                    Собшение: <b>{{order.message}}</b>;
                                </p>
                                <form action="" method="post">
                                    <a class="btn btn-danger" href="{%url  'delete_service' order.id%}"
                                        role="button">Удалить</a>
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    {%csrf_token%}
                                    <input type="hidden" name="service_id" value="{{order.id}}">
                                    <button type="submit" name="active_ser" class="btn btn-success">Потвердить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {%endfor%}

                    {%for order in constructions%}
                    <div class="col-md-4">
                        <div class="box-info04">
                            <div class="box-info04__content" data-value="1">
                                <h10 class="box-info04__title">
                                    Заказчик: <a href="">{{order.user}}</a> <br>
                                    Номер: <a href="tel:{{order.user.phone}}">{{order.user.phone}}</a> <br>
                                    Почта: <a target="_ blank"
                                        href="mailto:{{order.user.email}}?subject=Потверждение заказа">{{order.user.email}}</a>
                                    <br>
                                    Время заказа: {{order.time_create}} <br>
                                </h10>
                                <br>
                                <p>
                                    <b>Kатигория</b>: {{order.category}};
                                    <hr>
                                    <b>Ширина</b>: {{order.width}};
                                    <hr>
                                    <b>Длина</b>: {{order.length}};
                                    <hr>
                                    <b>Глубина</b>: {{order.depth}};
                                    <hr>
                                    <b>Отделка</b>: {{order.decoration}};
                                    <hr>
                                    <b>Дополнительно</b>: {%for i in order.additionally.all%}{{i}}; {%endfor%}
                                    <hr>
                                    <b>Собшение</b>: {{order.desctiption}};
                                    <hr>
                                </p>
                                <form action="" method="post">
                                    <a class="btn btn-danger" href="{%url  'delete_pool' order.id%}"
                                        role="button">Удалить</a>
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    {%csrf_token%}
                                    <input type="hidden" name="pool_id" value="{{order.id}}">
                                    <button type="submit" name="active_pool" class="btn btn-success">Потвердить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    {%endif%}
</div>

{%endif%}

{% endblock main %}