{% extends "body/body.html" %}
{% block main %}
{%load static%}

{% if user.is_staff %}

<div class="section-indent nomargin section__fluid tt-position__relative mobile-nopadding">
    <div class="tt-iconbox-subpages">
        {%include 'body/socal.html'%}
    </div>
    <div class="tt-pagetitle">
        <div class="tt-pagetitle__img">
            <picture>
                <source srcset="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.webp' %}" type="image/webp">
                <source srcset="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.jpg' %}" type="image/jpg">
                <img src="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.jpg' %}" alt="">
            </picture>
        </div>
        <div class="tt-pagetitle__wrapper">
            <div class="tt-pagetitle__title">
                Админка
            </div>
        </div>
    </div>
</div>

<div id="tt-pageContent">

    <div class="container container__tablet-fluid">
        <br><br><br>
        <div class="row">
            <div class="blocktitle blocktitle__center">
                <div class="blocktitle__title">Заказы</div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-5 leftColumn aside toggle__aside" id="js-toggle__aside">
                <div class="toggle__aside-cloe icon-1828778" id="js-aside-close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
                <div class="shop-aside__wrapper">
                    <div class="shop-aside__item">
                        <div class="shop-aside__title">
                            Катигории
                        </div>
                        <div class="shop-aside__content">
                            <ul class="tt-list-info">

                                <li>
                                    <a href="{% url 'filter_admin' 'orders'%}">Заказы</a>
                                </li>

                                <li>
                                    <a href="{% url 'filter_admin' 'services'%}">Услуги</a>
                                </li>

                                <li>
                                    <a href="{% url 'filter_admin' 'constructions'%}">Строительство</a>
                                </li>

                                <li>
                                    <a href="{% url 'filter_admin' 'cancel_orders'%}">Отмена заказов</a>
                                </li>

                                <li>
                                    <a href="{% url 'filter_admin' 'cancel_services'%}">Отмена услуги</a>
                                </li>

                                <li>
                                    <a href="{% url 'filter_admin' 'cancel_constructions'%}">Отмена строительства</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="shop-aside__item">
                        <div class="shop-aside__title">
                            Возможности
                        </div>
                        <div class="shop-aside__content">
                            <ul class="tt-list-info">
                                <li>
                                    <a href="">Товар</a>
                                    <ul>
                                        <li><a href="{%url 'create_cat_product'%}">Добавить катигорию товара</a></li>
                                        <li><a href="{%url 'list_cats'%}">Список катигорий</a></li>
                                        <li><a href="{%url 'create_product'%}">Добавить товар</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Строительство бассейнов</a>
                                    <ul>
                                        <li><a href="{%url 'create_cat_pool'%}">Добавить тип бассейна</a></li>
                                        <li><a href="{%url 'list_pool_cats'%}">Список типов бассейнов</a></li>
                
                                        <li><a href="{%url 'create_pool_additionally'%}">Добавить дополнительно бассейна</a></li>
                                        <li><a href="{%url 'list_additionally'%}">Список дополнительно бассейнов</a></li>
                
                                        <li><a href="{%url 'create_pool_decoration'%}">Добавить отдеку бассейна</a></li>
                                        <li><a href="{%url 'list_decorations'%}">Список отдеки бассейнов</a></li>
                
                                    </ul>
                                </li>
                
                                <li><a href="{%url 'create_service_type'%}">Сервис</a></li>
                                <li><a href="{%url 'update_info' '1'%}">Инфо сайта</a></li>
                                <li><a href="{%url 'create_info'%}">Инфо создать</a></li>
                                <li><a href="{%url 'list_users'%}">Список пользователей</a></li>
                
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                </div>
                
            </div>

            <div class="col-lg-8 col-xl-7">
                <div class="tt-filters" style="width: 300px;">
                    <div class="tt-col tt-filters__toggle-parent">
                        <div class="tt-filters__toggle" id="js-toggle__btn">
                            <div class="tt-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                                    <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                  </svg>
                            </div>
                            <div class="tt-text">
                                Боковая панель
                            </div>
                        </div>
                    </div>  
                    <div class="tt-col tt-filters__info-parent tt-visible__descktop">
                        <div class="tt-filters__info">
                            Отабражено {{fiter_len}} из {{all_len}} товаров
                        </div>
                    </div>
                </div>

                {%if not orders and not services and not constructions and not cancel_orders and not cancel_services and  not cancel_constructions%}
                    <center>
                        <h1>Пока не заказов(</h1>
                    </center>
                {%else%}
                    <div class="section-indent" style="margin-top: 0;">
                        <div class="container">
                            <div class="row">

                                {%for order in orders%}
                                <div class="card mb-3">
                                    <div class="card-body">

                                        <h10 class="box-info04__title">
                                            Заказчик: <a href="">{{order.user}}</a> <br>
                                            Номер: <a href="tel:{{order.user.phone}}">{{order.user.phone}}</a> <br>
                                            Почта: <a target="_ blank"
                                                href="mailto:{{order.user.email}}?subject=Потверждение заказа">{{order.user.email}}</a>
                                            <br>
                                            Время заказа: {{order.time_create}} <br>
                                        </h10>
                                        <br>

                                        <p>

                                            {%for o in order.basket.all%}
                                            {{o}}: <b>{{o.quantity}}-штук</b>;
                                            <hr>
                                            {%endfor%}
                                        </p>

                                        <form action="" method="post">
                                            <a class="btn btn-danger" href="{%url  'delete_order' order.id%}"
                                                role="button">Удалить</a>
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            {%csrf_token%}
                                            <input type="hidden" name="order_id" value="{{order.id}}">
                                            <button type="submit" name="active_buy"
                                                class="btn btn-success">Потвердить</button>
                                        </form>

                                    </div>
                                </div>
                                {%endfor%}

                                {%for order in cancel_orders%}
                                <div class="card mb-3">
                                    <div class="card-body">

                                        <h10 class="box-info04__title">
                                            <h6 class="d-flex align-items-center mb-3">
                                                <i class="material-icons text-info mr-2">
                                                    <h4><b>Заказ отменён</b></h4>
                                                </i>
                                            </h6>
                                            Заказчик: <a href="">{{order.user}}</a> <br>
                                            Номер: <a href="tel:{{order.user.phone}}">{{order.user.phone}}</a> <br>
                                            Почта: <a target="_ blank"
                                                href="mailto:{{order.user.email}}?subject=Потверждение заказа">{{order.user.email}}</a>
                                            <br>
                                            Дата заказа: {{order.time_create}} <br>
                                            {% if order.cancel_order %}
                                            <b>Дата отмены</b> : {{order.time_update}};
                                            {%endif%}
                                            <hr>
                                        </h10>
                                        <br>

                                        <p>

                                            {%for o in order.basket.all%}
                                            {{o}}: <b>{{o.quantity}}-штук</b>;
                                            <hr>
                                            {%endfor%}
                                        </p>

                                        <form action="" method="post">
                                            <a class="btn btn-danger" href="{%url  'delete_order' order.id%}"
                                                role="button">Удалить</a>
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            {%csrf_token%}
                                            <input type="hidden" name="order_id" value="{{order.id}}">
                                            <button type="submit" name="no_cancel_order" class="btn btn-warning">Включить
                                                обратно</button>
                                        </form>

                                    </div>
                                </div>
                                {%endfor%}


                                {%for order in services%}
                                <div class="card mb-3">
                                    <div class="card-body">

                                        <h10 class="box-info04__title">
                                            Заказчик: <a href="">{{order.user}}</a> <br>
                                            Номер: <a href="tel:{{order.user.phone}}">{{order.user.phone}}</a> <br>
                                            Почта: <a target="_ blank"
                                                href="mailto:{{order.user.email}}?subject=Потверждение заказа">{{order.user.email}}</a>
                                            <br>
                                            Время заказа: {{order.time_create}} <br>
                                        </h10>
                                        <br>

                                        <p>
                                            <b>Kатигория</b>: {{order.category}};
                                            <hr>
                                            <b>Собшение</b>: {{order.message}};
                                            <hr>
                                        </p>

                                        <form action="" method="post">
                                            <a class="btn btn-danger" href="{%url  'delete_service' order.id%}"
                                                role="button">Удалить</a>
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            {%csrf_token%}
                                            <input type="hidden" name="service_id" value="{{order.id}}">
                                            <button type="submit" name="active_ser"
                                                class="btn btn-success">Потвердить</button>
                                        </form>

                                    </div>
                                </div>
                                {%endfor%}

                                {%for order in cancel_services%}
                                <div class="card mb-3">
                                    <div class="card-body">

                                        <h10 class="box-info04__title">
                                            <h6 class="d-flex align-items-center mb-3">
                                                <i class="material-icons text-info mr-2">
                                                    <h4><b>Услуга отменена</b></h4>
                                                </i>
                                            </h6>

                                            Заказчик: <a href="">{{order.user}}</a> <br>
                                            Номер: <a href="tel:{{order.user.phone}}">{{order.user.phone}}</a> <br>
                                            Почта: <a target="_ blank"
                                                href="mailto:{{order.user.email}}?subject=Потверждение заказа">{{order.user.email}}</a>
                                            <br>
                                            Время заказа: {{order.time_create}} <br>
                                        </h10>
                                        <br>

                                        <p>
                                            <b>Kатигория</b>: {{order.category}};
                                            <hr>
                                            <b>Собшение</b>: {{order.message}};
                                            <hr>
                                        </p>

                                        <form action="" method="post">
                                            <a class="btn btn-danger" href="{%url  'delete_service' order.id%}"
                                                role="button">Удалить</a>
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            {%csrf_token%}
                                            <input type="hidden" name="service_id" value="{{order.id}}">
                                            <button type="submit" name="no_cancel_service" class="btn btn-warning">Включить
                                                обратно</button>
                                        </form>

                                    </div>
                                </div>
                                {%endfor%}


                                {%for order in constructions%}
                                <div class="card mb-3">
                                    <div class="card-body">

                                        <h10 class="box-info04__title">
                                            Заказчик: <a href="">{{order.user}}</a> <br>
                                            Номер: <a href="tel:{{order.user.phone}}">{{order.user.phone}}</a> <br>
                                            Почта: <a target="_ blank"
                                                href="mailto:{{order.user.email}}?subject=Потверждение заказа">{{order.user.email}}</a>
                                            <br>
                                            Время заказа: {{order.time_create}} <br>
                                        </h10>
                                        <br>

                                        <p>
                                            <b>Kатигория</b>: {{order.category}};
                                            <hr>
                                            <b>Ширина</b>: {{order.width}};
                                            <hr>
                                            <b>Длина</b>: {{order.length}};
                                            <hr>
                                            <b>Глубина</b>: {{order.depth}};
                                            <hr>
                                            <b>Отделка</b>: {{order.decoration}};
                                            <hr>
                                            <b>Дополнительно</b>: {%for i in order.additionally.all%}{{i}}; {%endfor%}
                                            <hr>
                                            <b>Собшение</b>: {{order.desctiption}};
                                            <hr>
                                        </p>

                                        <form action="" method="post">
                                            <a class="btn btn-danger" href="{%url  'delete_pool' order.id%}"
                                                role="button">Удалить</a>
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            {%csrf_token%}
                                            <input type="hidden" name="pool_id" value="{{order.id}}">
                                            <button type="submit" name="active_pool"
                                                class="btn btn-success">Потвердить</button>
                                        </form>
                                    </div>
                                </div>
                                {%endfor%}

                                {%for order in cancel_constructions%}
                                <div class="card mb-3">
                                    <div class="card-body">

                                        <h10 class="box-info04__title">

                                            <h6 class="d-flex align-items-center mb-3">
                                                <i class="material-icons text-info mr-2">
                                                    <h4><b>Строительство отменено</b></h4>
                                                </i>
                                            </h6>

                                            Заказчик: <a href="">{{order.user}}</a> <br>
                                            Номер: <a href="tel:{{order.user.phone}}">{{order.user.phone}}</a> <br>
                                            Почта: <a target="_ blank"
                                                href="mailto:{{order.user.email}}?subject=Потверждение заказа">{{order.user.email}}</a>
                                            <br>
                                            Время заказа: {{order.time_create}} <br>
                                        </h10>
                                        <br>

                                        <p>
                                            <b>Kатигория</b>: {{order.category}};
                                            <hr>
                                            <b>Ширина</b>: {{order.width}};
                                            <hr>
                                            <b>Длина</b>: {{order.length}};
                                            <hr>
                                            <b>Глубина</b>: {{order.depth}};
                                            <hr>
                                            <b>Отделка</b>: {{order.decoration}};
                                            <hr>
                                            <b>Дополнительно</b>: {%for i in order.additionally.all%}{{i}}; {%endfor%}
                                            <hr>
                                            <b>Собшение</b>: {{order.desctiption}};
                                            <hr>
                                        </p>

                                        <form action="" method="post">
                                            <a class="btn btn-danger" href="{%url  'delete_pool' order.id%}"
                                                role="button">Удалить</a>
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            &nbsp;
                                            {%csrf_token%}
                                            <input type="hidden" name="pool_id" value="{{order.id}}">
                                            <button type="submit" name="no_cancel_construction"
                                                class="btn btn-warning">Включить обратно</button>
                                        </form>
                                    </div>
                                </div>
                                {%endfor%}

                            </div>
                        </div>
                    </div>
                {%endif%}
            </div>
        </div>

    </div>

</div>


{% endif %}

{% endblock main %}