{% extends "body/body.html" %}
{% block main %}
{%load static%}
<div class="section-indent nomargin section__fluid tt-position__relative mobile-nopadding">
        <div class="tt-iconbox-subpages">
                {%include 'body/socal.html'%}
        </div>
        <div class="tt-pagetitle">
                <div class="tt-pagetitle__img">
                        <picture>
                                <source srcset="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.webp' %}"
                                        type="image/webp">
                                <source srcset="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.jpg' %}"
                                        type="image/jpg">
                                <img src="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.jpg' %}" alt="">
                        </picture>
                </div>
                <div class="tt-pagetitle__wrapper">
                        <div class="tt-pagetitle__title">
                                Сервис
                        </div>
                </div>
        </div>
</div>
<div id="tt-pageContent">
        <br><br><br>
        <div class="blocktitle blocktitle__center">
                <div class="blocktitle__title">Наши услуги</div>
        </div>
        <div class="section-indent">
                <div class="container">

                        <div class="row">

                                {%for s in services%}
                                <div class="col-md-4">
                                        <div class="box-info04">
                                                <div class="box-info04__img">
                                                        <picture>
                                                                <source srcset="{{s.image.url}}"
                                                                        data-srcset="{{s.image.url}}" type="image/webp">
                                                                <source srcset="{{s.image.url}}"
                                                                        data-srcset="{{s.image.url}}" type="image/jpg">
                                                                <img src="{{s.image.url}}" data-src="{{s.image.url}}"
                                                                        class=" lazyloaded" alt="">
                                                        </picture>
                                                </div>
                                                <div class="box-info04__content" data-value="1">
                                                        <h6 class="box-info04__title">{{s.title}}</h6>
                                                        <p>{{s.desctiption}}</p>
                                                        <a href="{%url 'service' s.id%}" class="tt-link">Узнать подробнее<svg
                                                                        xmlns="http://www.w3.org/2000/svg" width="16"
                                                                        height="16" fill="currentColor"
                                                                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd"
                                                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                                </svg></a>
                                                                <br>
                                                                <br>
                                                                {%if user.is_staff%}
                                                                        <form method="post">
                                                                                <a class="btn btn-danger" href="{% url 'delete_service_type' s.id %}" role="button">Удалить</a> 
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                {%csrf_token%}
                                                                                
                                                                                <a class="btn btn-primary" href="{% url 'update_service' s.id%}" role="button">Изменить</a>
                                                                        </form>
                                                                {%endif%}
                                                </div>
                                        </div>
                                </div>
                                {%endfor%}
                        </div>
                </div>
        </div>
</div>

{% endblock main %}