{% extends "body/body.html" %}
{% block main %}
{%load static%}


<div class="section-indent nomargin section__fluid tt-position__relative mobile-nopadding">
    <div class="tt-iconbox-subpages">
        {%include 'body/socal.html'%}
    </div>
    <div class="tt-pagetitle">
        <div class="tt-pagetitle__img">
            <picture>
                <source srcset="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.webp' %}" type="image/webp">
                <source srcset="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.jpg' %}" type="image/jpg">
                <img src="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.jpg' %}" alt="">
            </picture>
        </div>
        <div class="tt-pagetitle__wrapper">
            <div class="tt-pagetitle__title">
                Магазин
            </div>
            <ul class="tt-breadcrumbs">

            </ul>
        </div>
    </div>
</div>
<div id="tt-pageContent">
    <div class="section-indent">
        <div class="container container__tablet-fluid">
            <div class="row">
                {%include 'shop/sitebar.html'%}
                <div class="col-lg-8 col-xl-7">
                    <div class="tt-filters" style="width: 300px;">
                        <div class="tt-col tt-filters__toggle-parent">
                            <div class="tt-filters__toggle" id="js-toggle__btn">
                                <div class="tt-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                                    </svg>
                                </div>
                                <div class="tt-text">
                                    Фльтры
                                </div>
                            </div>
                        </div>  
                        <div class="tt-col tt-filters__info-parent tt-visible__descktop">
                            <div class="tt-filters__info">
                                Отабражено {{fiter_len}} из {{all_len}} товаров
                            </div>
                        </div>
                    </div>
                    <form  class="tt-newsletter__form"   method="get" action="{% url 'search' cat_id%}">
                        <input type="text" name="q" class="tt-form__control"  placeholder="Поиск" value="{{q}}">
                        <button type="submit" class="tt-btn tt-btn02">
                            <span class="tt-btn__text" data-effect="Найти">
                                Найти
                            </span>
                            <span class="tt-btn__icon icon-142042">
                            </span>
                        </button>
                        <div class="tt-modal-message">
                            Form sent successfully
                        </div>
                    </form>
                    <div class="tt-listing row">
                        
                        {%if not products and not q %}
                            <center><p>Нечего не найдено!</p></center>
                        {%elif not products and cat_id == 0%}
                            <center><p>По запросу "{{q}}" нечего не найдено!</p></center>
                        {%elif not products%}
                            <center><p>По запросу "{{q}}" в катигории "{{categ.title}}" нечего не найдено!</p></center>
                        {%else%}
                            {%for p in products%}
                            <div class="col-6 col-md-4 tt-listing__col-item" style="margin-top: 50px;">
                                <div class="tt-product">
                                    <div class="tt-product__img">
                                        <a href="{%url 'single_page' p.id%}" class="tt-img">
                                            <img src="{{p.image.url}}" alt="">
                                            <div class="btn-addtocart">Подробнее
                                                <span class="tt-btn__icon icon-142042">

                                                </span>
                                            </div>
                                        </a>
                                        <div class="tt-label-location">
                                            <div class="tt-label-new">
                                                {%if p.status == True%}
                                                На складе
                                                {%else%}
                                                Нету
                                                {%endif%}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tt-product__description">
                                        <h2 class="tt-product__title">
                                            <a href="shop-item.html">{{p.title}}</a>
                                        </h2>
                                        <div class="tt-product__price">
                                            {{p.price}}сом
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        {%endif%}
                    </div>
                    {%include 'pagin/pagination.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tt-bg bg-index-04 lazyload" data-bg="{% static 'assets/images/background-marker/bg-index-04.png' %}">
</div>



{% endblock main %}