{% extends "body/body.html" %}
{% block main %}
{%load static%}

<div class="section-indent nomargin section__fluid tt-position__relative mobile-nopadding">
    <div class="tt-iconbox-subpages">
        {%include 'body/socal.html'%}
    </div>
    <div class="tt-pagetitle">
        <div class="tt-pagetitle__img">
            <picture>
                <source srcset="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.webp'%}" type="image/webp">
                <source srcset="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.jpg'%}" type="image/jpg">
                <img src="{% static 'assets/images/pagetitle_bg/pagetitle_bg01.jpg' %}" alt="">
            </picture>
        </div>
        <div class="tt-pagetitle__wrapper">
            <div class="tt-pagetitle__title">
                <p> Корзина</p>
            </div>
            <ul class="tt-breadcrumbs">

            </ul>
        </div>
    </div>
</div>
<div id="tt-pageContent">
    <div class="section-indent">
        <div class="container container__fluid-xl">
            <div class="cart-table01">
                <div class="tt-table-responsive-md">

                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Товар
                                </th>
                                <th>
                                    Цена
                                </th>
                                <th>
                                    Количество
                                </th>
                                <th>
                                    Итоговая цена
                                </th>

                            </tr>
                        </thead>
                        {%for p in basket%}
                        <tbody>
                            <tr>
                                <td>
                                    <div class="table-product">
                                        <a href="#" class="cart-table01__close"><span class="icon-1828778"></span></a>
                                        <div class="table-product__img">
                                            <picture>
                                                <source srcset="{{p.product.image.url}}" type="image/webp">
                                                <source srcset="{{p.product.image.url}}" type="image/jpg">
                                                <img src="{{p.product.image.url}}" alt="">
                                            </picture>
                                        </div>
                                        <div class="table-product__contnt">
                                            <h6 class="table-product__title">
                                                <a href="#">{{p.product.title}}</a>
                                            </h6>
                                            <div class="tt-rating">
                                                <i class="icon-56786">
                                                </i>
                                                <i class="icon-56786">
                                                </i>
                                                <i class="icon-56786">
                                                </i>
                                                <i class="icon-56786 icon-star-empty">
                                                </i>
                                                <i class="icon-56786 icon-star-empty">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="cart-table__price">
                                        {{p.product.price}} сом
                                    </div>
                                </td>
                                <td>
                                    <form class="tt-form-inline" method="post" accept="basket">
                                        {%csrf_token%}
                                        <div class="tt-counter js-counter">
                                            <div class="tt-counter js-counter">
                                                <div class="tt-counter__btn tt-btn-minus">
                                                    -
                                                </div>
                                                <input class="tt-counter__input" name="quantity" type="text"
                                                    value="{{p.quantity}}">
                                                <input type="hidden" class="tt-counter__input" name="product_id"
                                                    type="text" value="{{p.product_id}}">
                                                <div class="tt-counter__btn tt-btn-plus">
                                                    +
                                                </div>
                                            </div>


                                        </div>
                                        <button type="submit" class="tt-btn tt-btn01" name="basket"><span
                                                class="tt-btn__text" data-effect="Сохранить">Add
                                                to Cart</span>
                                            <span class="tt-btn__icon icon-142042"></span></button>
                                    </form>
                                </td>
                                <td>
                                    <div class="cart-table__price">
                                        {% widthratio p.product.price 1 p.quantity %} coм
                                    </div>
                                </td>
                                <td>
                                    <form class="tt-form-inline" method="post" accept="basket">
                                        {%csrf_token%}
                                        <input type="hidden" class="tt-counter__input" type="text" name="basket_id"
                                            value="{{p.id}}">
                                        <button name="del_basket" class="btn bg-transparent"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path
                                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                            </svg></button>
                                    </form>
                                </td>

                            </tr>
                        </tbody>
                        {%endfor%}
                        {%for p in basket%}
                        {%endfor%}
                    </table>

                </div>
                {%include 'pagin/pagination.html'%}
            </div>
            <div class="tt-subtitle-02 tt-subtitle-02__top">
                Cart Totals
            </div>
            <table class="cart-table02">
                <tbody>
                    <tr>
                        <td>
                            Всего
                        </td>
                        <td>
                            <div class="cart-table__price">
                                {{total_p}} сом
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form class="tt-form-inline" method="post">
                {%csrf_token%}

                <button name="buy" class="tt-btn tt-btn02 tt-btn__top"><span class="tt-btn__text"
                        data-effect="Заказать">Заказать</span> <span class="tt-btn__icon icon-142042"></span></button>
            </form>
        </div>
    </div>
</div>

{% endblock main %}