<ul class="tt-pagination tt-pagination__top">

    {%for pag in paginator.page_range%}
    {% if page_obj.number == pag %}
    <li class="active">
        <a href="?page={{pag}}">{{pag}}</a>
    </li>
    {% else %}
    <li>
        <a href="?q={{q}}&page={{pag}}">{{pag}}</a>
    </li>
    {%endif%}
    {%endfor%}
    <li>
        <a class="tt-pagination__btn" href="?page={{page_obj.number|add:'1'}}">
            <span class="icon-142042">
                <svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
            </span>
        </a>
    </li>
</ul>